@{
    ViewData["Title"] = "Loginpage Gallery Page";
}

<h1>Catalog</h1>
<hr/>
<div class="text-center">
    @{
        List<Product> allLoginpage=(List<Product>)ViewData["catalog"]; 
        <ol>
            @foreach(Product flower in allLoginpage){
                <li>@flower.Title</li>
            }
        </ol>
    } 
    <hr/>
</div>