@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Transflower</h1>
    <ol>
        <li>Flowers</li>
        <li>Fruits</li>
        <li>Vegetables</li>
    </ol> 

    <hr/>
    <img src="/images/gerbera.jfif" width="100" height="100"/>  
    <img src="/images/rose.jfif" width="100" height="100"/>  
    <img src="/images/lily.jfif" width="100" height="100"/> 
    <img src="/images/Flower.jfif" width="100" height="100"/>  
    <img src="/images/Flr2.jfif" width="100" height="100"/>  
    <img src="/images/lily.jfif" width="100" height="100"/>  
</div>
