@{
    ViewData["Title"] = "Register";
}

<div class="hey">
    <form action="/home/Register">
  <label for="name">name:</label><br>
  <input type="text" id="name" name="name" value=""><br>
  <label for="pswrd">password:</label><br>
  <input type="text" id="pswrd" name="pswrd" value=""><br><br>
    <label for="contact">contact number:</label><br>
  <input type="text" id="contact" name="contact" value=""><br>
  <input type="submit" value="Submit">Submit</button>
</form>
</div>